*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
  }

h1, h2{
    color: #68bd48;
}
body{
    background-color: #000;
    color: #ffffff;
    padding: 0;
    margin: 0;
    font-family: rahulmono;
}

.header{
    z-index: 100;
    position: sticky;
    top: 0px;
    height: 14vh;
    background-color: rgb(15, 15, 15);
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    ul{ 
        
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
        cursor: pointer;
        
        li{
            transition: all 0.2s ease;
            padding: 15px 30px;
            font-size: 14px;
            color: rgba(255,255,255,.6);

            &:hover{
                color: #fff;
            }
        }
        #benefit{
            background-color: rgba(7, 131, 13, 0.4);
            color: #68bd48;
            border-radius: 10px;
        }
        #get-started{
            background-color: #ffffff;
            font-weight: bolder;
            font-size: 16px;
            color: #000;
            border-radius: 25px;
            padding: 15px 15px ;

            &:hover{
                border: 1px solid #fff;
                background-color: transparent;
                transform: scale(1.1);
                color: #fff;

                span{
                    color: rgb(161, 161, 161);
                }
            }

            span{
                color: rgba(82, 82, 82, 0.6);
             
            }
        }
    }
    @media(max-width: 767px){
        ul{
            display: none;
        }
    }
}


.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 110px 80px;
    gap: 20px;
    @media(max-width: 767px){
        grid-template-columns: 1fr;
        padding: 20px;
    }
    .left_side{
        h1{
            font-size: 64px;
            font-weight: bolder;
            color: #68bd48;
        }
        h2{
            font-weight: 200;
            font-size: 48px;
        }
        p{
            line-height: 2;
            font-weight: 100;
            margin: 40px 0;
            font-size: 18px;
        }
        .get-started-main{
            background-color: #fff;
            width: fit-content;
            padding: 10px 25px;
            color: #000;
            display: flex;
            position: relative;
            border-radius: 10px;
            z-index: -1;
            
            &:hover{
                background-color: rgb(167, 160, 160);
               
            }
            .image{
                padding: 0;
                margin: 0;
                width: 40px;
                position: relative;
                
            }
            .middle{
               
                margin-left: -20px;
            }
            .last{
                margin-left: -20px;
            }
            p{
                font-size: 20px;
                font-weight: bolder;
                padding: 0;
                margin: 0;
                span{
                    color: rgba(82, 82, 82, 0.6);
                }
            }
        }
    }
    .right_side{
        justify-self: center;
        
    }
}


.section-2{
    h1{
        font-size: 56px;
        text-align: center;
    }
    h2{
        font-size: 32px;
        text-align: center;
        font-weight: 200;
    }
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        margin: 60px 120px;
        
        @media(max-width: 767px){
            grid-template-columns: 1fr;
            margin: 0;
        }
        .box{
            padding: 60px;
            background-color: rgba(21,22,24,.32);
            
            h1{
                font-size: 24px;
            }
            p{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                text-align: center;
                margin: 16px 0;

            }
            .tags{
                display: flex;
                width: 90%;
                margin: auto;
                margin-top: 20px;
                
                flex-wrap: wrap;
                p{
                    background-color: #151618;
                    padding: 8px 12px 8px 12px;
                    border-radius: 16px;
                    flex: auto;
                    margin: 15px;
                   

                    img{
                        margin-right: 20px;
                        border-radius: 6px;
                    }
                }
            }
            @media(max-width: 767px){
                padding: 0;
            }
        }
        
    }
}



.section-3{
    width: 80%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-content: center;
    @media(max-width: 767px){
        grid-template-columns: 1fr;
    }

    .box{
        grid-column: auto;
        justify-self: center;

        img{
            width: 120px;
        }

        h1{
            font-size: 24px;
            margin: 10px 0;
        }
        p{
            font-size: 16px;
            color: #A9ABB3;
            line-height: 1.6;
        }
    }
}


.section-4{
    padding: 80px;
    @media(max-width: 767px){
        padding: 10px;
    }
    .left_side{
        padding: 0 80px 0 0;
        h1{
            font-size: 48px;
        }
        h2{
            font-size: 32px;
            color: #A9ABB3;
        }
        p{
            color: #A9ABB3;
            font-size: 18px;
            font-weight: 200;
        }
    }
    .right_side{
        @media(max-width: 767px){
            display: none;
        }
        .back{
            width: 100%;
            position: relative;
            img{
                width: 80%;
                opacity: 0.5;
            }
            .right{
                z-index: 1;
                position: absolute;
                width: 25%;
                top: -40px;
                right: 150px;
                opacity: 1;
            }
            .left{
                position: absolute;
                width: 25%;
                bottom: -40px;
                left: -30px;
                z-index: 1;
                opacity: 1;
            }
        }
        
    }
}


.section-5{
    .left_side{
        .left{
            width: 50%;
            opacity: 0.5;
            z-index: 15;
        }
        .middle{
            width: 130px;
            margin-left: -100px;
            margin-bottom: -20px;
            z-index: 2;
            opacity: 1;
        }
        .right{
            width: 15%;
            margin-left: -30px;
            margin-bottom: 30px;
            z-index: 1;
            
        }
    }
    .right_side{
        h1{
            font-size: 48px;
            font-weight: bolder;
        }
        h2{
            font-weight: 200;
            font-size: 32px;
            color: #a9ABB3;

        }
        p{
            line-height: 2;
            font-weight: 100;
            margin: 40px 0;
            font-size: 18px;
        }
    }
}


.section-6{
    .left_side{
        width: 80%;
        h1{
            font-size: 48px;
        }
        h2{
            font-size: 32px;
            color: #A9ABB3;
        }
    }
    .right_side{
        position: relative;
        display: flex;
        .left{
            opacity: 0.5;
            width: 150px;
            margin-right: -20px;
        }
        .middle{
            z-index: 1;
        }
        .right{
            opacity: 0.5;
            width: 150px;
            margin-left: -20px;
        }
    }
}

.section-7{
    text-align: center;

    h1{
        font-size: 56px;
    }
}